# --- Yocto Standard ---
bitbake/
meta/
meta-*/
!meta-symoneural/
!meta-skeleton/
!meta-selftest/

# --- Build Artifacts ---
# This ignores the 'build' folder inside /var/yocto/symoneural/
build/
*.log
*.swp

# --- SyMoNeuRaL Helpers ---
surgical.sh
cleanup.sh
