[submodule "sources/bitbake"]
	path = sources/bitbake
	url = https://github.com/openembedded/bitbake.git

[submodule "sources/openembedded-core"]
	path = sources/openembedded-core
	url = https://github.com/openembedded/openembedded-core.git

[submodule "sources/meta-openembedded"]
	path = sources/meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git

[submodule "sources/meta-clang"]
	path = sources/meta-clang
	url = https://github.com/kraj/meta-clang.git

[submodule "sources/meta-xilinx"]
	path = sources/meta-xilinx
	url = https://github.com/Xilinx/meta-xilinx.git

[submodule "sources/meta-arm"]
	path = sources/meta-arm
	url = https://github.com/ARM-software/meta-arm.git

[submodule "sources/meta-yocto"]
	path = sources/meta-yocto
	url = https://git.yoctoproject.org/meta-yocto

[submodule "sources/poky"]
	path = sources/poky
	url = https://git.yoctoproject.org/poky
