[submodule "bitbake"]
	path = bitbake
	url = https://github.com/openembedded/bitbake.git
	branch = 2.8
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
	branch = scarthgap
[submodule "meta-clang"]
	path = meta-clang
	url = https://github.com/kraj/meta-clang.git
	branch = scarthgap
[submodule "openembedded-core"]
	branch = scarthgap
	path = openembedded-core
	url = https://git.openembedded.org/openembedded-core
[submodule "meta-poky"]
	path = meta-poky
	url = https://github.com/yoctoproject/poky.git
	branch = scarthgap
