LCONF_VERSION = "7"
BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
  ##OEROOT##/openembedded-core/meta \
  ##OEROOT##/meta-poky \
  ##OEROOT##/meta-symoneural \
  ##OEROOT##/meta-symoneural-bsp \
  "
