# SyMoNeuRaL Tiny Miner Configuration
# Targeting Xilinx Zynq 7010 SoC

# Hardware Target
MACHINE ?= "symoneural-miner-zynq"

# Tiny OS Policy
DISTRO ?= "symon-tiny"

# Package Management
PACKAGE_CLASSES ?= "package_rpm"
SDKMACHINE ?= "x86_64"

# Speed & Caching (Smart Paths handled by layer.conf)
BB_HASHSERVE_UPSTREAM = 'wss://hashserv.yoctoproject.org/ws'
SSTATE_MIRRORS ?= "file://.* http://sstate.yoctoproject.org/all/PATH;downloadfilename=PATH"
BB_HASHSERVE = "auto"
BB_SIGNATURE_HANDLER = "OEEquivHash"

# Proprietary Licenses (Commercial for Miner Tools if needed)
LICENSE_FLAGS_ACCEPTED = "commercial"

EXTRA_IMAGE_FEATURES ?= "debug-tweaks ssh-server-openssh"
USER_CLASSES ?= "buildstats"
PATCHRESOLVE = "noop"

# Monitoring
BB_DISKMON_DIRS ??= "STOPTASKS,${TMPDIR},1G,100K STOPTASKS,${DL_DIR},1G,100K HALT,${TMPDIR},100M,1K"

CONF_VERSION = "2"
